 html, body {
  height: 99%;
  width: 99%;
}


body {font-family: "Inter", sans-serif;background-color: #333333}
h1, h2, h7, h5 {color: #fff}

.whole-page{
margin-right: auto;
padding-right: 8px;
padding-bottom: 80px;
}

.title{
	margin-bottom: 24px;
}

.header-links:link, .header-links:visited {
	color: #ffffff;
	text-decoration: none;
}

.table-link:link, .table-link:visited {
	color: #ff97ff;
}

.length {
	width: 25%;
}

a:link, a:visited {
	color: #fff;
	text-decoration:none;
}

.link-img {
	height:32px; width:32px; opacity:0.8;
}

.link-button {
	border-radius:1rem; 
	background-color:#4F6DB4; 
	height:100px;
	width: 200px;
	display:flex; 
	justify-content:center; 
	align-items:center;
	margin: 2.5px;
}

.link-text {
	width: 131.7px;
	padding:10px; 
	margin:0px;
	color: #E0E0E0;
}

.link-button:hover {
	background-color:#5E79BA;
}

.link-button:hover .link-text {
		color: #ffffff;
	}
	
.link-button:hover .link-img  {
		opacity: 1;
	}

.body-box{
	display:flex; 
	height:60%; 
	justify-content:center; 
	align-items:center;
	flex-wrap: wrap;
	align-content: center;
}
